*
{
    padding: 0;
    margin: 0;
}

.body
{
    background: rgba(0, 0, 0, 0.816);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    max-width: 100vw;
    max-height: 100vh;

}

.navbar
{
    background-color: rgba(12, 12, 12, 0.991) !important;
}

.navv
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px !important;
}

.logo
{
    border-radius: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

.logo:hover
{
    border: 2px solid rgb(66, 243, 219);
    padding: 1px;
    cursor: pointer;
}

.nav-link
{
    color: white !important;
}

.nav-link:hover
{
    color: aqua !important;
    text-decoration: underline !important;
}

#clockContainer
{
    position: relative;
    background: url(/clock.png) no-repeat;
    background-size: 100%;
    height: 40vw;
    width: 40vw;
   
    margin: auto;
    margin-top: 1vw;
    
}

#hour, #minute, #second
{
    position: absolute;
    background-color: black;
    border-radius: 10px;
}

#hour
{
    width: 3%;
    height: 28%;
    top: 22%;
    left: 48.3%;
    transform-origin: bottom;
    /* display: none; */
}

#minute
{
    width: 2%;
    height: 36%;
    top: 14%;
    left: 48.85%;
    transform-origin: bottom;
    /* display: none; */
}

#second
{
    width: 0.6%;
    height: 31%;
    top: 18.7%;
    left: 49.73%;
    transform-origin: bottom;
    
}